
# To run this project locally, rename this file to .env.local
# and add your Google Gemini API key.
#
# This is optional for running the app, as you can also set the
# API key directly within the app's settings page. However, it's
# useful for local development if you don't want to re-enter the key.

VITE_API_KEY="YOUR_GEMINI_API_KEY_HERE"
